[
  {"group": "all", "mode": "master", "level": "warn",
    "dictionary": "/home/ubuntu/web-project/data/dict.json",
    "aws": {"cfg": "/home/ubuntu/web-project/data/awsconfig.json"},
    "communicator": {
      "service": "Gmail", "user": "kmrwebnet@gmail.com", "pass": "0okm,./;p",
      "errorTo": "kimura@kmrweb.net"
    }
  },

  {"group": "web-project", "mode": "master", "level": "warn", "current": "/home/ubuntu/web-project"
  },

  {"group": "webpj", "mode": "master", "level": "warn"
  }
]
